h1 {
    color: blueviolet;
}

h2 {
    color: blue
}

.container {
    border: 10px solid red;
    border-radius: 10px;
    margin: 20px;
    width: 900px;
    height: 300px;
    padding: 20px;
    text-align: center;
}